.color-col
    & + .color-col
        border-top 1px solid border-grey

.color-block
    padding 2.4rem 0
    border-radius border-radius-normal
    display flex
    .avatar
        border-radius border-radius-normal
        margin-right 1.5rem
        absolute left top
    // justify-content space-between
    .description
        position relative
        padding-left 4.5rem
        h4
            line-height 1em
            margin-bottom .4rem
        a
            color text-default
            &:hover
                color color-primary
    .colors
        display flex
        margin-left auto
        &:hover
            .color + .color
                margin-left .1rem
    .color
        display inline-block
        will-change margin-left
        transition margin-left 140ms ease
        & + .color
            margin-left -.8rem
        p
            padding .5rem 0
            display none
        span
            content ' '
            width 3.1rem
            height 3.1rem
            display block
            margin 0 auto
            border-radius 50%
            border 3px solid #fff
            padding 0 .5rem
