.alert
    position fixed
    width 100%
    text-align center
    background-color border-grey
    color #fff
    z-index 2000
    pointer-events none
    height 0
    transition max-height 140ms ease, opacity 140ms ease
    transform translateZ(0)
    opacity 0
    will-change max-height, opacity
    max-height 0
    p
        transition none
        opacity 0
        color text-default
        font-size font-size-small
    &.visible
        display flex
        align-items center
        justify-content center
        pointer-events auto
        height 2.8rem
        max-height 3rem
        opacity 1
        p
            transition opacity 200ms ease
            opacity 1

.copy-input
    fixed top -10rem left -10rem
    background-color transparent

.small-title
    text-transform uppercase
    font-size font-size-small
    color text-lightest
    font-weight 500
    display block
    margin-bottom 1rem
    line-height 1em

.user-pro
    vertical-align top
    text-transform uppercase
    font-size 12px
    border-radius 2px
    background-color #3b3b3b
    color #fff
    font-weight 500
    line-height 1em
    transition all .1s ease
    display inline-block
    line-height 1.4em
    padding 0 4px
    margin-left 3px

nav
    background-color #1d1d1d
    fixed top left
    padding 1rem standard-page-padding
    width 100%
    z-index 1000
    display flex
    justify-content space-between
    .actions
        display flex
        flex-grow 1
        justify-content space-between
    .jump-to
        margin-left 1.6rem
        vertical-align top
        user-select none
        li
            line-height 0
            label
                svg
                    margin-right .6rem
                    relative top 4px
                &:hover
                    svg
                        stroke text-default
                    cursor pointer
            input
                height auto !important
                line-height 1.7em !important
                &:focus
                    & + label
                        svg
                            stroke color-heading
    a
        color text-disabled
        font-weight 400
        line-height 1rem
        &:hover
            color color-heading
        &.active
            font-weight 500
            color color-heading
    +below('m')
        padding 1rem standard-mobile-page-padding
        display block
        .actions
            width 100%
            overflow-x auto
            height 43px
            display flex
            justify-content center
            .tooltip::before, .tooltip::after
                display none !important
            &::-webkit-scrollbar
                width 0px
                background transparent
            & > *
                display inline-block
                vertical-align top
            &.searching
                .list.horizontal.float-right
                    display none !important
        a.inline
            display block
            width 100%
            text-align center
        .jump-to
            margin-left 0
        .list.horizontal
            float none
            & + .list.horizontal
                margin-left 1rem

.content-intro
    width 70%
    padding 7rem 0 5rem 0
    small
        text-transform uppercase
        color color-primary
        font-size font-size-standard
        font-weight 600
        margin-bottom 1rem
        display block
    h2
        font-weight 600
        line-height 1.4em
    +below('m')
        width 100%
        padding 4rem 0 2rem 0
        h2
            font-size 2.4rem

.shots
    .date
        color color-heading
        font-weight 600
        font-size 1.6rem
        border-bottom 2px solid border-grey
        padding-bottom .6rem
    & + .shots
        margin-top 4rem

.color-col
    & + .color-col .color-block
        border-top 1px solid border-grey

.color-block
    padding 1.5rem 0
    display flex
    .avatar
        border-radius border-radius-normal
        margin-right 1.5rem
        absolute left top
    .description
        position relative
        padding-left 5rem
        a
            color text-default
            &:hover
                color color-primary
        h5
            line-height 1.3em
            margin-bottom .2rem
            font-weight 400
            a
                color color-heading
    .colors
        display flex
        margin-left auto
        padding 3px 0
        &:hover
            .color
                span
                    border 2px solid rgba(255, 255, 255, .2)
                &:active span
                    border-color rgba(255, 255, 255, 1) !important
                & + .color
                    margin-left .5rem
    .color
        display inline-block
        will-change margin-left
        transition margin-left 140ms ease
        cursor pointer
        &::before
            margin-top .9rem !important
        &::after
            margin-top 1.1rem !important
        & + .color
            margin-left -1rem
        p
            padding .5rem 0
            display none
        span
            content ' '
            position relative
            width 3rem
            height 3rem
            display block
            margin 0 auto
            border-radius 50%
            transition border-color 140ms ease, transform 140ms ease
            will-change border-color
            padding 0 .5rem
        &:hover
            span
                transform scale(1.15)
                z-index 1000

    +below('m')
        flex-direction column
        .description
            width 100%
        .colors
            display block
            float none
            width 100%
            white-space nowrap
            margin-top 2rem
            .color
                margin-left 0 !important
                width 20%

.previous-loader
    padding 2rem 0 0 0

footer
    padding 3rem 0
    border-top 2px solid border-grey
    margin-top 5rem
    strong
        color #fff
    p
        margin-bottom .4rem
    small
        display block
    a
        color text-disabled
        &:hover
            color color-heading
    .muted
        margin-top 1.2rem
    .list
        text-align right
    +below('m')
        text-align center
        .list
            margin-top 2rem
            text-align center
.profile
    padding 5rem 0 0 0
    a
        color text-default
        &:hover
            color color-primary
    .description
        position relative
        padding 0 0 3rem 5.9rem
        .inline
            vertical-align middle
        .avatar
            border-radius border-radius-normal
            absolute left top
        h3
            line-height 1.2em
            font-weight 500
            margin-bottom .2rem

    &-shot
        padding 0 0 3rem 0
        img
            border-radius border-radius-normal
            width 100%
            max-width 600px
            display block
            margin 0 auto
    .color
        display inline-block
        text-align center
        width 20%
        p
            padding .5rem 0
            font-weight 500
        span
            position relative
            content ' '
            width 4rem
            height 4rem
            display block
            margin 0 auto
            border-radius 50%
            padding 0 .5rem
            border 2px solid transparent
            transition border-color 140ms ease, transform 140ms ease
            will-change border-color
            cursor pointer
            &:hover
                transform scale(1.15)
                z-index 1000
    &-more
        padding 3rem 0 2rem 0
        p + p
            margin-top .6rem

    +below('m')
        padding 4rem 0 0 0
        .description
            padding 0 0 3rem 4.3rem
            img
                height 53px
                margin-right 1rem
            h3
                font-size font-size-h4
        .color
            span
                width 3rem
                height 3rem
            p
                font-size .8rem
.error-link
    text-align center
    margin-bottom 3rem
    .goto
        display block
        margin 0 auto
        padding 3rem 0
        width 60%
        &-left
            svg
                margin-right .4rem
        &-right
            svg
                margin-left .4rem
    .block
        margin-top 1.6rem
    a
        svg
            stroke color-primary
            relative top 4px
    & + .error-link
        border-left 2px solid border-grey

section.about-page
    .content-intro
        padding-bottom 3.5rem
    h5
        font-weight 400
        color text-default
    .about-links
        margin 3rem 0 2rem 0
        li
            color text-disabled
            a
                color color-heading
                &:hover
                    color color-primary
