.small-title
    text-transform uppercase
    font-size font-size-small
    color text-lightest
    font-weight 500
    display block
    margin-bottom 1rem
    line-height 1em

.user-pro
    relative top -1px
    padding .1rem .24rem .15rem .24rem
    text-transform uppercase
    font-size 13px
    border-radius border-radius-normal
    background-color #000
    color #fff
    font-weight 500
    line-height 1em
    transition all .1s ease

.fade
    fixed top left
    width 100%
    height 30rem
    content ' '
    display block
    background linear-gradient(to bottom, #f6f6f6, transparent)

nav
    background-color #fff
    fixed top left
    padding .9rem standard-page-padding
    width 100%
    z-index 1000
    .jump-to
        margin-left 1.6rem
        vertical-align top
        user-select none
        li
            line-height 0
            label
                svg
                    margin-right .6rem
                    relative top 4px
                &:hover
                    svg
                        stroke text-default
                    cursor pointer
            input
                height auto !important
                line-height 1.7em !important
                &:focus
                    & + label
                        svg
                            stroke color-heading
    a
        color text-disabled
        font-weight 400
        line-height 1rem
        &:hover
            color color-heading

.content-intro
    width 70%
    padding 7rem 0 6rem 0
    small
        text-transform uppercase
        color color-primary
        font-size font-size-standard
        font-weight 600
        margin-bottom 1rem
        display block
    h2
        font-weight 400
        line-height 1.4em

.shots
    .date
        color text-disabled
        font-weight 400
    & + .shots
        margin-top 2rem

.color-col
    & + .color-col .color-block
        border-top 1px solid border-grey

.color-block
    padding 2.4rem 0
    display flex
    .avatar
        border-radius border-radius-normal
        margin-right 1.5rem
        absolute left top
    .description
        position relative
        padding-left 4.2rem
        h5
            line-height 1em
            margin-bottom .4rem
            font-weight 500
        a
            color text-default
            &:hover
                color color-primary
    .colors
        display flex
        margin-left auto
        &:hover
            .color + .color
                margin-left .1rem
    .color
        display inline-block
        will-change margin-left
        transition margin-left 140ms ease
        & + .color
            margin-left -.8rem
        p
            padding .5rem 0
            display none
        span
            content ' '
            width 3rem
            height 3rem
            display block
            margin 0 auto
            border-radius 50%
            border 3px solid #fff
            padding 0 .5rem

.previous-loader
    padding 3rem 0
    text-align center
    border-top 1px solid border-grey

footer
    padding 2.6rem 0
    text-align center
    p
        margin-bottom .2rem
    small
        display block
    a
        color text-disabled
        &:hover
            color color-heading
    .muted
        margin-top 1.2rem
    .list
        margin-top 1.6rem

.profile
    padding 5rem 0 0 0
    a
        color text-default
        &:hover
            color color-primary
    .description
        position relative
        padding 0 0 3rem 4.8rem
        .inline
            vertical-align middle
        .avatar
            border-radius border-radius-normal
            margin-right 1.5rem
            absolute left top
        h3
            line-height 1em
            margin-bottom .4rem
            font-weight 500

    &-shot
        padding 0 0 3rem 0
        img
            border-radius border-radius-normal
            width 100%
            max-width 600px
            display block
            margin 0 auto
    .color
        display inline-block
        text-align center
        width 20%
        p
            padding .5rem 0
            font-weight 500
        span
            content ' '
            width 4rem
            height 4rem
            display block
            margin 0 auto
            border-radius 50%
            border 3px solid #fff
            padding 0 .5rem
    &-more
        padding 3rem 0 2rem 0
        p + p
            margin-top .6rem
