.contain
  center(standard-page-width, standard-page-padding);
  position: relative;
  margin-top: 132px;
  cf();

  +below('m')
    padding: 0 standard-mobile-page-padding;

.profile-contain
  center(profile-page-width, standard-page-padding);
  position: relative;
  cf();

  &.loading
    margin-top: 14rem;

  +below('m')
    padding: 0 standard-mobile-page-padding;

.content
  margin-top: 4.3rem;
  position: relative;

  +below('m')
    margin-top: 7rem;

.bind
  height: 100%;
  width: 100%;

.group
  .button
    margin: 0 !important;
    border-radius: 0;

    &.outlined
      & + .outlined
        margin-left: -1px !important;

    &:first-of-type
      border-radius: border-radius-normal 0 0 border-radius-normal;

    &:last-of-type
      border-radius: 0 border-radius-normal border-radius-normal 0;
