/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2017 Schwartzco Inc.
        License: 1711-NAYKYM
*/

@font-face {
    font-family: 'Graphik';
    src: url('./fonts/Graphik-fded951322c4098de46b626c10d2a262.eot');
    src: url('./fonts/Graphik-fded951322c4098de46b626c10d2a262.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Graphik-fded951322c4098de46b626c10d2a262.woff2') format('woff2'),
        url('./fonts/Graphik-fded951322c4098de46b626c10d2a262.woff') format('woff'),
        url('./fonts/Graphik-fded951322c4098de46b626c10d2a262.ttf') format('truetype'),
        url('./fonts/Graphik-fded951322c4098de46b626c10d2a262.svg#.') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('./fonts/Graphik-dc89f2d41668adb3db6d650c7b34c527.eot');
    src: url('./fonts/Graphik-dc89f2d41668adb3db6d650c7b34c527.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Graphik-dc89f2d41668adb3db6d650c7b34c527.woff2') format('woff2'),
        url('./fonts/Graphik-dc89f2d41668adb3db6d650c7b34c527.woff') format('woff'),
        url('./fonts/Graphik-dc89f2d41668adb3db6d650c7b34c527.ttf') format('truetype'),
        url('./fonts/Graphik-dc89f2d41668adb3db6d650c7b34c527.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}
